body {
    height: 300vh;
    text-align: center;
}

.decor {
    background-color: aqua;
}

.page {
    background-color: yellow;
}

.anim {
    width: 300px;
    height: 200px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid red;
    border-radius: 50px / 50px;
}
